<!DOCTYPE html>
<html lang="en">
  {%load static%}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>AutonetAPI</title>

    <!-- Custom fonts for this template-->
    <link
      href=" {% static 'netauto/vendor/fontawesome-free/css/all.min.css' %} "
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href=" {% static 'netauto/css/sb-admin-2.min.css' %} "
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href=" {% url 'home' %} "
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-magic"></i>
          </div>
          <div class="sidebar-brand-text mx-3">AUTONETAPI</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href=" {% url 'home' %} ">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />
        <!-- Nav Item - Administration -->
        <li class="nav-item">
          <a class="nav-link" href=" {% url 'admin:index' %} ">
            <i class="fas fa-fw fa-users-cog"></i>
            <span>Administration</span></a
          >
        </li>

        <!-- Nav Item - Configure Collapse Menu -->
        {% if superadmin %}
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseUtilities"
            aria-expanded="true"
            aria-controls="collapseUtilities"
          >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Configure</span>
          </a>
          <div
            id="collapseUtilities"
            class="collapse"
            aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Configuration:</h6>
              <a class="collapse-item" href=" {% url 'add_ip' %} "
                >IP Address</a
              >
              <a class="collapse-item" href=" {% url 'custom' %} "
                >Custom Configuration</a
              >
              <div class="collapse-divider">
                <h6 class="collapse-header">Routing:</h6>
                <a class="collapse-item" href=" {% url 'static' %} "
                  >Static Route</a
                >
                <a class="collapse-item" href=" {% url 'ospf' %} "
                  >OSPF Route</a
                >
                <a class="collapse-item" href=" {% url 'bgp' %} ">BGP Route</a>
              </div>
            </div>
          </div>
        </li>
        {% endif %}

        <!-- Nav Item - Devices -->
        <li class="nav-item">
          <a class="nav-link" href=" {% url 'devices' %} ">
            <i class="fas fa-fw fa-database"></i>
            <span>Devices</span></a
          >
        </li>

        <!-- Nav Item - Log Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <i class="fas fa-fw fa-archive"></i>
            <span>Log</span>
          </a>
          <div
            id="collapsePages"
            class="collapse"
            aria-labelledby="headingPages"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href=" {% url 'log' %} ">App Log</a>
              <a class="collapse-item" href=" {% url 'syslog' %} "
                >Export Syslog</a
              >
            </div>
          </div>
        </li>

        <!-- Nav Item - Validation -->
        <li class="nav-item">
          <a class="nav-link" href=" {% url 'result' %} ">
            <i class="fas fa-fw fa-check-circle"></i>
            <span>Validate</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >{{user.get_username}}</span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="https://pbs.twimg.com/profile_images/1238497800964325377/o-JQlugN_400x400.jpg"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a
                    class="dropdown-item"
                    href="{% url 'logout' %}"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            {% block content %} {% endblock %}
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>AUTONETAPI &copy Teknik Komputer UNDIP</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href=" {% static 'netauto/#page-top' %} ">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href=" {% url 'logout' %} ">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src=" {% static 'netauto/vendor/jquery/jquery.min.js' %} "></script>
    <script src=" {% static 'netauto/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

    <!-- Core plugin JavaScript-->
    <script src=" {% static 'netauto/vendor/jquery-easing/jquery.easing.min.js' %} "></script>

    <!-- Custom scripts for all pages-->
    <script src=" {% static 'netauto/js/sb-admin-2.min.js' %} "></script>
    <script>
      $("#sendButton").click(function () {
        var value = $("#routerID option:selected");
        var value2 = $("input[type=file]")[0].files[0].name;
        $(".modal-confirm-result").append(
          "You are going to configure the <strong>" +
            value.text() +
            "</strong> with <strong>" +
            value2 +
            "</strong> script file."
        );
      });
    </script>
    {% for device in all_devices %}
    <script>
      $(function () {
        var checkbox = $("#checkbox0{{device.id}}");
        var hidden = $("#div0{{device.id}}");
        hidden.hide();
        checkbox.change(function () {
          if (checkbox.is(":checked")) {
            hidden.show();
          } else {
            hidden.hide();
          }
        });
      });
    </script>
    {% endfor %}
  </body>
</html>
