{% extends 'netauto/base.html' %} {% block content %}
<!-- Content Row -->

<!-- Total Devices -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div
            class="text-xs font-weight-bold text-primary text-uppercase mb-1"
          >
            Total Devices
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">
            {{total_devices}}
          </div>
        </div>
        <div class="col-auto">
          <i class="fas fa-coins fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Row -->

<h1 class="h3 mb-0 text-gray-800">Last Event</h1>
<br />
<div class="table-responsive">
  <table class="table table-light text-gray-800 table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Target Device</th>
        <th scope="col">Action</th>
        <th scope="col">Status</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      {% for log in last_event %}
      <tr>
        <td>{{log.target}}</td>
        <td>{{log.action}}</td>
        <td>{{log.status}}</td>
        <td>{{log.time}}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
