{% extends "netauto/base.html" %} {% block content %}
<h2 class="mt-4 text-gray-800">Add Static Routes</h2>
<p>In this configuration menu, you can add a static route.</p>
<form method="POST">
  {% csrf_token %}
  <h4 class="mt-3 text-gray-800">Choose Target:</h4>
  {% for device in all_devices %}
  <div class="custom-control custom-checkbox">
    <input
      type="checkbox"
      name="device"
      value="{{ device.id }}"
      required="true"
    />
    {{device.hostname}} - {{device.ip_address}}<br />
  </div>
  {% endfor %}
  <br />
  <div class="form-row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        name="dest"
        placeholder="Destination Network"
        required="true"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        name="prefix"
        placeholder="Prefix (8-32)"
        required="true"
      />
    </div>
  </div>
  <br />
  <!-- <input class="form-control" type="text" name="dest" placeholder="Destination Network"> -->
  <input
    class="form-control"
    type="text"
    name="next_hop"
    placeholder="Next-hop router"
    required="true"
  />
  <br />
  <select class="custom-select" name="outinterface" required="true">
    <option selected>Select outgoing interface</option>
    <option value="gigabitEthernet1">GigabitEthernet0/1</option>
    <option value="gigabitEthernet2">GigabitEthernet0/2</option>
    <option value="gigabitEthernet3">GigabitEthernet0/3</option>
  </select>
  <br />
  <br />
  <input
    class="form-control"
    type="text"
    name="admin_distance"
    placeholder="Admin Distance (1-255)"
    required="true"
  />
  <button type="submit" class="mt-3 btn btn-primary">Submit</button>
</form>
{% endblock content %}
