{% extends "netauto/base.html" %} {% block content %}
<h1 class="mt-4 text-gray-800">Export Syslog</h1>
<p>
  In this export syslog menu, you can export the syslog from your spesific
  router.
</p>
<form method="POST">
  {% csrf_token %}
  <select class="custom-select" name="router" required>
    <option value="">Choose Target</option>
    {% for device in all_devices %}
    <option value="{{ device.id }}"
      >{{device.hostname}} - {{device.ip_address}}</option
    >
    {% endfor %}
  </select>
  <button type="submit" class="mt-3 btn btn-primary">Export</button>
</form>
{% endblock content %}
