<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AutoNetAPI - Login</title>

  <!-- Custom fonts for this template-->
  <link href=" {% static 'netauto/vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href=" {% static 'netauto/css/sb-admin-2.min.css' %} " rel="stylesheet">

</head>

<body class="bg-gradient-primary">
  {% if next %}
  {% if user.is_authenticated %}
  <div class="container">
    <div class="row justify-content-center">
      <a href="#" class="btn btn-warning btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <span class="text">
          Your account doesn't have access to this page. To proceed,
          please login with an account that has access.
        </span>
      </a>
    </div>
  {% else %}
  <div class="container">
    <div class="row justify-content-center">
      <a href="#" class="btn btn-warning btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <span class="text">
          Please login to see this page.
        </span>
      </a>
    </div>
  {% endif %}
  {% endif %}
   <div class="container">
  
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-4 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-1">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-13">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">User Login</h1>
                  </div>
                  <form method="POST" action="{% url 'login' %}">
                      {% csrf_token %}
                      <table>
                        <tr>
                          <td>{{ form.username.label_tag }}</td>
                          <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                          <td>{{ form.password.label_tag }}</td>
                          <td>{{ form.password }}</td>
                        </tr>
                      </table>
                      <br>
                        {% if form.errors %}
                          <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                        <hr>
                  </form>
                  <div class="text-center">
                    <a class="small" href="{% url 'admin:index' %}">Login as Django Administrator</a>
                  </div>
                </div>
              </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src=" {% static 'netauto/vendor/jquery/jquery.min.js' %} "></script>
  <script src=" {% static 'netauto/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

  <!-- Core plugin JavaScript-->
  <script src=" {% static 'netauto/vendor/jquery-easing/jquery.easing.min.js' %} "></script>

  <!-- Custom scripts for all pages-->
  <script src=" {% static 'netauto/js/sb-admin-2.min.js' %} "></script>

</body>

</html>
